@model MyLibrary.Models.BorrowViewModel.BorrowIndexViewModel

@{
    ViewData["Title"] = "borrowCart";
}

<h1>Friends Books I Borrowed </h1>

<p>
   @*<a asp-action="Create">Create New</a> *@ 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.borrow.DateBorrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.borrow.User)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.books.Title)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Borrow) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            @* <td>
            @Html.DisplayFor(modelItem => item.User.Id)
               </td> 
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>*@
        <td>
            @*  <a asp-action="Edit" asp-route-id="@item.BorrowId">Edit</a> |*@
            @*<a asp-action="Details" asp-route-id="@item.BorrowId">Details</a> |*@
            @*<a asp-action="Delete" asp-route-id="@item.BorrowId">Return A Book</a>*@
        </td>
            <td>
                <form asp-controller="Borrows" asp-action="Delete" asp-route-id="@item.BookId">
                    <input type="submit" value="Return A Book" class="btn btn-primary" />
                </form>
            <td />
        </tr>
        }
            </tbody>
        </table>
