@model MyLibrary.Models.WishListViewModel.WishListIndexViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<h1>@((await UserManager.GetUserAsync(User)).FirstName)'s borrows! </h1>
<p>
    @* <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.wishList.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wishList.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WishList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                @* <td>
                        <a asp-action="Edit" asp-route-id="@item.WishListId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.WishListId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.WishListId">Delete</a>
                    </td>*@
                <td>
                    <form asp-controller="WishLists" asp-action="Delete" asp-route-id="@item.BookId">
                        <input type="submit" value="Remove From Wish List" class="btn btn-primary" />
                    </form>
                <td />
            </tr>
        }
    </tbody>
</table>
