@model IEnumerable<MyLibrary.Models.Book>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "CreateWishList";
}

<h1>@((await UserManager.GetUserAsync(User)).FirstName)'s Wish Lists ! </h1>

<p>
    <a asp-action="Create">Add To Wish List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.catagory)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catagory.CategoryId)
            </td>*@
        <td>
            @*<a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.BookId">Delete From Wish List</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
